<ul class="navbar-nav">
    <li class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="manageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Contoso University</a>
        <ul class="dropdown-menu" aria-labelledby="manageDropdown">
            <li class="nav-item">
                <a class="dropdown-item" asp-controller="contoso" asp-action="students">Students</a>
            </li>
            <li class="nav-item">
                <a class="dropdown-item" asp-controller="contoso" asp-action="courses">Courses</a>
            </li>
            <li class="nav-item">
                <a class="dropdown-item" asp-controller="contoso" asp-action="instructors">Instructors</a>
            </li>
            <li class="nav-item">
                <a class="dropdown-item" asp-controller="contoso" asp-action="departments">Departments</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" asp-controller="home" asp-action="example">nowhere-here</a></li>
        </ul>
    </li>
</ul>