<ul class="navbar-nav">
    <li class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="manageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Contoso University</a>
        <ul class="dropdown-menu" aria-labelledby="manageDropdown">
            <li class="nav-item">
                <a class="dropdown-item" asp-controller="ContosoUniversity" asp-action="Students">Students</a>
            </li>
            <li class="nav-item">
                <a class="dropdown-item" asp-controller="Courses" asp-action="Index">Courses</a>
            </li>
            <li class="nav-item">
                <a class="dropdown-item" asp-controller="Instructors" asp-action="Index">Instructors</a>
            </li>
            <li class="nav-item">
                <a class="dropdown-item" asp-controller="Departments" asp-action="Index">Departments</a>
            </li>
            <li><a class="dropdown-item" asp-controller="Home" asp-action="Example">nowhere-here</a></li>
        </ul>
    </li>
</ul>