<footer class="border-top footer text-muted">
    <div class="container text-center">
        &copy; 2025 <a href="https://github.com/carloswm85/basic-ntier-template">Project made with basic-ntier-template</a> - BasicNtierTemplate.Web.MVC - <a asp-controller="Home" asp-action="Privacy">Privacy</a> - <a asp-controller="Weather" asp-action="Index">WeatherTest</a>
    </div>
</footer>