<!-- FOOTER -->
<footer class="border-top bg-body-tertiary py-4">
    <div class="container">
        <div class="row align-items-center g-3">
            <div class="col-12 col-md-6 text-center text-md-start">
                <p class="mb-0 text-body-secondary ">
                    &copy; 2025
                    <span class="text-body-tertiary">|</span>
                    <a href="https://github.com/carloswm85/basic-ntier-template" class="link-secondary text-decoration-none fw-medium" target="_blank">
                        basic-ntier-template project repository 🔗
                    </a>
                </p>
            </div>
            <div class="col-12 col-md-6">
                <nav class="nav justify-content-center justify-content-md-end gap-3">
                    <a asp-controller="Home" asp-action="Privacy" class="nav-link link-secondary py-0 px-2">Privacy</a>
                    <span class="text-body-tertiary">|</span>
                    <a asp-controller="Weather" asp-action="Index" class="nav-link link-secondary text-info py-0 px-2">WeatherForecast Endpoint Test</a>
                </nav>
            </div>
        </div>
    </div>
</footer>