<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
    <title>@ViewData["Title"] - BasicNtierTemplate.Web.MVC</title>

    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BasicNtierTemplate.Web.MVC.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100 m-0">
    @await RenderSectionAsync("Styles", required: false)

    <header class="sticky-top bg-body shadow-sm border-bottom">
        @await Html.PartialAsync("_Navbar")
    </header>
    
    <main class="flex-grow-1 py-4">
        <div class="container-lg">
            @RenderBody()
        </div>
    </main>
    
    <footer class="mt-auto bg-body-secondary border-top py-4">
        <div class="container-lg">
            <div class="text-center text-body-secondary small">
                @await Html.PartialAsync("_Footer")
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
