using AutoMapper;
using BasicNtierTemplate.Repository;
using BasicNtierTemplate.Service.Models.Auth.Commands;
using BasicNtierTemplate.Service.Models.Auth.Queries;
using BasicNtierTemplate.Service.Services.Interfaces;

namespace BasicNtierTemplate.Service.Services
{
    public class AuthService : IAuthService
    {
        private readonly IUnitOfWork _unitOfWork;
        private readonly IMapper _mapper;

        public AuthService(IUnitOfWork unitOfWork, IMapper mapper)
        {
            _unitOfWork = unitOfWork;
            _mapper = mapper;
        }

        public Task<ConfirmationResult> ConfirmEmailAsync(string userId, string code, string changedEmail)
        {
            throw new NotImplementedException();
        }

        public Task<ForgotPasswordResult> ForgotPasswordAsync(ForgotPasswordRequest resetRequest)
        {
            throw new NotImplementedException();
        }

        public Task<InfoResponse?> GetInfoAsync()
        {
            throw new NotImplementedException();
        }

        public Task<AccessTokenResponse?> LoginAsync(LoginRequest login, bool? useCookies, bool? useSessionCookies)
        {
            throw new NotImplementedException();
        }

        public Task<TwoFactorResponse?> Manage2faAsync(TwoFactorRequest tfaRequest)
        {
            throw new NotImplementedException();
        }

        public Task<AccessTokenResponse?> RefreshTokenAsync(RefreshRequest refreshRequest)
        {
            throw new NotImplementedException();
        }

        public Task<RegistrationResult> RegisterAsync(RegisterRequest registration)
        {
            throw new NotImplementedException();
        }

        public Task<ResendResult> ResendConfirmationEmailAsync(ResendConfirmationEmailRequest resendRequest)
        {
            throw new NotImplementedException();
        }

        public Task<ResetPasswordResult> ResetPasswordAsync(ResetPasswordRequest resetRequest)
        {
            throw new NotImplementedException();
        }

        public Task<InfoResponse?> UpdateInfoAsync(InfoRequest infoRequest)
        {
            throw new NotImplementedException();
        }
    }

}
